
/* h3 */
.header-text h3, .currency-text-container h3, .currency-tables-container h3, .benefits-text-container h3, .bit-girl h3, .pricing-text h2{
    font-size:2.6rem;
}
/* p*/
.header-text p, .currency-text-container p, .benefits-text-container p, .currency-table-date p, .currency-table-date1 p, .currency-table-date b, .currency-table-date1 b, .benefits-card p,.pricing-text p{
    font-size:1.8rem;
}
/* Nav */
.navbar-light .navbar-toggler{
    font-size:2.4rem;
    border-radius: 5px;
}
nav .navbar-brand{
    height:40px;
    width:200px;
}
/* cta */
.cta a{
    font-size: 1.6rem;
}
/* curerncy */
.currency-img-container{
    height: 690px;
    width: 690px;
    margin:0 calc(5%) 0 calc(7%);
    background-image: url("./assets/tablet-bitcoin-logo.png");
}
/* td */
.currency-table td{
    font-size: 2rem;
}
.currency-table .table__right{
    font-size: 2rem;
}
/* benefits */
.benefits-card img{
    height:24px;
    width:24px;
}
.benefits-card h4{
    font-size:2rem;
}
/* Pricing */
.recommended-container p, .recommended-container1 p, .recommended-container2 p{
    font-size:1.8rem;
}
.pricing-container h4, .pricing-container2 h4{
    font-size: 2.4rem;
}
.dollar-sign{
    font-size:1.6rem;
}
.price{
    font-size:8rem;
}
.saving{
    font-size:1.6rem;
}
.pricing-btn, .pricing-btn2{
    font-size: 1.8rem;
}
/* Footer */
.social-container a{
    font-size:2rem;
}
.ABit-logo{
    display:flex;
    justify-content:center;
}
.ABit-logo img{
    height:80px;
}
.copyright-container p{
    font-size:1.6rem;
}